<!DOCTYPE html>

<html lang="fr">

	<head>

		{% block title %} <title>GitStats</title> {% endblock %}
		{% block complements %} {% endblock %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="Analyses de repositories GitHub.">
	    <meta name="author" content="Caroline Chaudey">
	    <link href="/github-stats/web/css/bootstrap.css" rel="stylesheet">
	    <link href="/github-stats/web/css/style.css" rel="stylesheet">

	</head>

	<body>
		<div>
			{% block page %}
				test ololololol
			{% endblock %}
		</div>
	</body>
</html>